h1:before{
    content: counter(mycounter)'.';
}
h1{
    counter-increment: mycounter;
    counter-reset: subcounter;
}
p:before{
    content: counter(subcounter)'.';
}
p{
    counter-increment: subcounter;
}